.mapboxgl-ctrl-attrib {
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px) !important;
	border-bottom-right-radius: 8px !important;
}
.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib {
	display: none;
}
