.mapboxgl-ctrl-attrib {
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px) !important;
	border-bottom-right-radius: 8px !important;
}
.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib {
	display: none;
}
.crisislab-sensor-marker {
	width: 15px;
	height: 15px;
	border: 2px solid black;
	border-radius: calc(var(--spacing) / 2);
}
.crisislab-sensor-marker.online {
	background-color: var(--success);
}
.crisislab-sensor-marker.offline {
	background-color: var(--error);
}
.crisislab-sensor-marker.active {
	background-color: var(--primary);
}
