.mapboxgl-ctrl-attrib {
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4px) !important;
	border-bottom-right-radius: 8px !important;
	background-color: white !important;
}
.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-attrib {
	display: none;
}
.crisislab-sensor-marker {
	width: 15px;
	height: 15px;
	/* border: 2px solid black; */
	border-radius: calc(var(--spacing) / 2);
	cursor: pointer !important;
	background-color: var(--secondary);
	border: 2px solid black;
}
.crisislab-sensor-marker.online {
	background-color: var(--success);
}
.crisislab-sensor-marker.offline {
	background-color: var(--error);
}

.crisislab-sensor-marker.active {
	border-color: var(--primary);
	z-index: 1;
}
.crisislab-sensor-marker.popover-open {
	border-color: var(--light-primary);
	z-index: 2;
}
