:root {
	--light-primary: #4081b3;
	--primary: #1162a1;
	--secondary: #5ecaeb;
	--spacing: 8px;
}

html,
body,
#root {
	height: 100vh;
	width: 100%;
	min-height: 100vh;
}

.arrow-forwards::after {
	content: " →";
}

.arrow-back::before {
	content: "← ";
}
